.cartContainer {
  margin: 50px auto;
}

/* ================= TABLE ================= */
.tableWrapper {
  overflow-x: auto;
}

.cartTable {
  width: 100%;
  border-collapse: collapse;
  min-width: 700px;
}

.cartTable th,
.cartTable td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.cartTable th {
  font-weight: 600;
  background-color: #fafafa;
}

.itemImg {
  width: 70px;
  border-radius: 10px;
}

.deleteImg {
  width: 16px;
  cursor: pointer;
}

/* ================= TOTAL ================= */
.cartTotal {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 60px;
  flex-wrap: wrap;
}

.cartTotal .left,
.cartTotal .right {
  flex: 1;
  min-width: 280px;
}

.right {
  text-align: center;
}
.cartTotal h2 {
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.row.total {
  font-weight: bold;
}

/* ================= BUTTONS ================= */
.checkout {
  width: 100%;
  margin-top: 30px;
  padding: 14px;
  background-color: orangered;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  font-size: 17px;
  transition: 0.3s;
}

.checkout:hover {
  background-color: white;
  color: orangered;
  border: 1px solid orangered;
}

/* ================= PROMO ================= */
.promo {
  display: flex;

  margin-top: 15px;
  width: fit-content;
  margin: auto;
}

.promoCode {
  width: 250px;
  padding: 12px;

  border: 1px solid #ddd;
}

.submit {
  padding: 12px 20px;
  background-color: black;
  color: white;

  border: none;
  cursor: pointer;
}

/* ================= EMPTY ================= */
.emptyCart {
  margin: 80px 0;
  text-align: center;
  color: orangered;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
  .cartTotal {
    flex-direction: column;
  }

  .checkout {
    font-size: 16px;
  }
}
