.footer {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 30px;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer-links ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.footer-icons img {
  cursor: pointer;
}
.footer-links ul li {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.footer-links ul li:hover {
  color: orangered;
}

@media (max-width: 768px) {
  .footer-links ul li {
    font-size: 15px;
  }
}
