.relatedProductsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-bottom: 20px;
}
.relatedProducts h1 {
  text-align: center;
  margin-bottom: 30px;
}
