.popular-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 20px;
  justify-items: center; /* يوسّط العناصر جوه كل column */
}
.popular {
  position: relative;
}
.popular-title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
}
.popular-title::before {
  content: "";
  width: 120px;
  height: 6px;
  background-color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  top: 50px;
}

/* Responsive improvements */
@media (max-width: 768px) {
}

@media (max-width: 600px) {
  .popular-items {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}
